@import url("https://fonts.googleapis.com/css2?family=Marcellus&display=swap");
//Blog Page  - HomePage

.blog-section {
    background: #fafafa;
    padding: 70px 20px 20px 20px;

    .blog-sidebar {
        padding: 20px;
        background: #fffbfc;
        border-radius: 6px;
        box-shadow: 0px 2px 6px 0px #b5b5b5;
        h6 {
            color: #333333;
            font-weight: 700;
        }
        hr {
            border-color: #c4c4c4;
        }
        .blog-sidebar-list-el {
            .sidebar-list-top {
                display: flex;
                align-items: flex-start;
                i {
                    color: #f05454;
                    margin-right: 3px;
                    margin-top: 2px;
                }
                p {
                    color: #585858;
                    font-weight: 600;
                    font-size: 16px;
                }
                h6 {
                    font-weight: 600;
                    font-size: 20px;
                    color: #333333;
                }
            }

            .blog-sidebar-pricesection {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                img {
                    object-fit: contain;
                    max-width: 60px;
                }
            }
        }
    }
}

//Single Blog Section
.single-blog-section {
    padding: 50px 0;
    background: #fafafa;
    h3 {
        font-family: "Marcellus", serif;
        text-align: center;
    }
    h6 {
        text-align: center;
        color: #808080;
        margin-bottom: 15px;
    }
    img {
        max-width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .singleblog-like-section {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 10px 0;
        .interaction-container {
            display: flex;
            align-items: center;
            margin-left: 10px;
            img {
                object-fit: contain;
                margin-right: 3px;
            }
        }
    }
    .singleBlog-author-section {
        text-align: center;
        margin: 20px 0;
        img {
            width: 80px;
            height: 80px;
            border-radius: 50%;
        }
        p {
            color: #808080;
        }
    }
    .singleBlog-social {
        .social-textcontainer {
            h4 {
                text-align: center;
                span {
                    font-size: 14px;
                    display: block;
                }
            }
        }

        .news-interaction-el-1 {
            margin-left: 10px;
            align-items: center;
            img {
                margin-left: 6px;
                color: #c6c6c6;
                width: 30px;
            }
            b {
                color: #686868;
                font-weight: 500;
            }

            .social-container {
                .fab,
                .far {
                    font-weight: 400;
                    font-size: 30px;
                }
            }
        }
    }
    .comment-titletext {
        margin: 10px 0 20px;
        text-align: center;
        font-weight: 400;
    }
    button,
    .comment-login-btn {
        border: none;
        outline: none;
        background: #f05454;
        color: #fff;
        padding: 7px 10px;
        border-radius: 8px;
        width: 100%;
    }
}

.user-comment-section {
    background-color: whitesmoke;
    padding: 30px;
    border-radius: 16px;
    .user-comments {
        margin: 5px 0px 0px 0px;
        font-weight: 400;
    }
    .comment-section {
        margin: 5px 0px 5px 0px;
        padding: 3px;
        .comments {
            padding: 10px;
            width: 900px;
            display: flex;
            align-items: center;
            img {
                border-radius: 35px;
                object-fit: cover;
                width: 43px;
                height: 43px;
                margin-right: 10px;
                margin-left: 0px;
            }
        }
    }
}

@media only screen and (max-width: 775px) {
    .single-blog-section {
        .singleblog-like-section {
            justify-content: center;
            flex-wrap: wrap;
        }
        .singleBlog-social {
            .social-container {
                text-align: center;
                img {
                    display: inline-block;
                    margin: 1px 2px;
                }
            }
        }
    }
}
