.no-course-compare-section {
    padding: 50px 0;
    text-align: center;
    h3 {
        font-size: 32px;
    }
    h4 {
        font-size: 20px;
    }
    h3,
    h4 {
        text-transform: uppercase;
        color: #444;
        font-weight: 400;
    }
}

.compare-section {
    table {
        height: 100%;
        width: 100%;
        border-collapse: collapse;
        overflow: scroll;

        tr {
            background: #f6f7f8;
            border-bottom: 10px solid #eee;
            margin: 10px 0;
            td {
                padding: 20px;
                border-right: 1px solid gainsboro;
                p {
                    font-size: 24px;
                    margin-bottom: -1px;
                }
                .compare-title {
                    font-weight: 500;
                    font-size: 20px;
                }
                .compare-buy-btn {
                    max-width: 300px;
                    display: block;
                    border: none;
                    outline: none;
                    background: #f05454;
                    width: 100%;
                    padding: 10px;
                    color: #fff;
                    border-radius: 4px;
                    margin-top: 20px;
                }
                .compare-addCart-btn {
                    max-width: 300px;
                    display: block;
                    border: none;
                    outline: #3c64b1;
                    outline: 1px solid #3c64b1;
                    background: #f6f7f8;
                    width: 100%;
                    padding: 10px;
                    color: #3c64b1;
                    border-radius: 4px;
                    margin-top: 20px;
                }
                .compare-card {
                    max-width: 300px;
                    background: #eeeeee;
                    padding: 20px;
                    border-radius: 16px;
                    h5 {
                        padding: 10px 0px;
                        font-weight: 400;
                    }
                    span {
                        font-size: 20px;
                    }
                    button {
                        display: block;
                        border: none;
                        outline: none;
                        background: #f05454;
                        width: 100%;
                        padding: 10px;
                        color: #fff;
                        border-radius: 4px;
                        margin-top: 20px;
                    }
                }
            }
        }
    }
    .compare-course-by-image {
        width: 100px;
        padding: 7px;
        margin: 10px;
    }
}
@media screen and (max-width: 600px) {
    .compare-section {
        width: 100%;
        height: 100%;
    }
}
