.course-detail-section {
    background: #eeeeee;
    .course-detail-hero-section {
        background: url("../js/Images/courseDetail/courseDetailHeader.png");
        background-position: center;
        background-size: cover;
        padding: 30px 50px;
        .containerClass {
            box-shadow: none;
            h2,
            h4,
            h5,
            h6 {
                color: #fff;
            }
            img {
                margin-bottom: 30px;
            }
            h2 {
                font-size: 25px;
                font-weight: 500;
                margin-bottom: 20px;
            }
            h4 {
                font-weight: 400;
                margin-bottom: 25px;
            }
            h5 {
                font-weight: 400;
                margin-bottom: 20px;
            }
            h6 {
                font-weight: 300;
                margin-bottom: 15px;
            }
            .share-btn {
                background: #f05454;
                color: #fff;
                border: none;
                outline: none;
                padding: 5px 20px;
                font-weight: 300;
                margin: 2px 4px 2px 0;
                border-radius: 10px;
            }
            .compare-btn-1 {
                background: #3c64b1;
                color: #fff;
                border: none;
                outline: none;
                padding: 9px 10px;
                font-weight: 300;
                margin: 2px 4px 2px 0;
                border-radius: 10px;
                h5 {
                    margin-bottom: 0px;
                    font-size: 15px;
                }
            }
        }
        .add-to-cart-section-details {
            position: absolute;
            width: 298px;
            background: #f6f7f8;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 16px;
            padding: 17px;
            .card-header-image-details {
                width: 266px;
                height: 160px;
                justify-content: center;
                border-radius: 4px;
            }
            .card-section-details-content {
                .card-section-details-content-price {
                    h5 {
                        color: #1f1f1e;
                        font-weight: 500;
                        font-size: 20px;
                    }
                    h6 {
                        color: #818181;
                        font-size: 16px;
                    }
                    p {
                        color: #f05454;
                        font-size: 16px;
                        margin-top: -15px;
                    }
                    .course-provider {
                        height: 50px;
                        width: 125px;
                        border-radius: 10px;
                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                        padding: 10px;
                        margin: 5px 0px 15px 0px;
                    }
                }
            }
            .card-section-details-buy-btn {
                display: block;
                border: none;
                outline: none;
                background: #f05454;
                width: 100%;
                padding: 10px;
                color: #fff;
                border-radius: 4px;
                margin-top: 20px;
                text-align: center;
                text-decoration: none;
            }
            .card-section-details-addCart-btn {
                display: block;
                border: none;
                outline: #3c64b1;
                outline: 1px solid #3c64b1;
                background: #f6f7f8;
                width: 100%;
                padding: 10px;
                color: #3c64b1;
                border-radius: 4px;
                margin-top: 20px;
            }
        }
    }
    .compare-btn-detail {
        transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
        display: block;
        background: #3c64b1;
        text-align: center;
        height: 48px;
        width: 150px;
        color: #f6f7f8;
        font-size: 20px;
        text-decoration: none;
        padding: 10px;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        left: 1420px;
        position: fixed;
        border: none;
    }
    .containerClass {
        margin-top: 0;
        margin-bottom: 0;
        box-shadow: none;
        .course-overview-card {
            background: #f6f7f8;
            padding: 15px 30px;
            border-radius: 12px;
            margin: 30px 0;
            .course-overview-card-title {
                font-weight: 400;
                text-transform: capitalize;
                color: #333333;
            }
            .course-overview-card-descriptionbox {
                display: flex;
                flex-wrap: wrap;
                margin: 15px 0;
                p {
                    background: #fdf5ad;
                    padding: 4px 10px;
                    font-weight: 200;
                    text-transform: capitalize;
                    margin: 2px 10px 2px 0;
                    border-radius: 100px;
                }
            }
            .course-overview-card-stats {
                display: flex;
                flex-wrap: wrap;
                margin: 15px 0;
                .stat-container {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    margin: 2px 10px 2px 0;
                    img {
                        object-fit: contain;
                    }
                    p {
                        color: #818181;
                        margin-left: 5px;
                        margin-bottom: 0;
                    }
                }
            }
            .course-description {
                margin-top: 20px;
                color: #818181;
            }
            .course-description-readmore {
                color: #f05454;
                margin: 0;
                text-align: center;
                &:hover {
                    cursor: pointer;
                }
            }
        }
        .course-content-top-header {
            font-weight: 400;
            color: #333333;
            text-transform: capitalize;
            margin-bottom: 15px;
        }
        .course-content-top-overview {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 10px;
            span {
                color: #f05454;
                margin-right: 5px;
            }
        }
        .course-content-accordion {
            margin-bottom: 30px;
            .card {
                margin: 5px 0;
                padding: 10px 20px;
                background: #f6f7f8;
                border-radius: 10px;
                border: none;

                .course-content-card-headerlink {
                    color: #333333;
                    &:hover {
                        text-decoration: none;
                    }
                }
                .card-body {
                    .courseContent-list {
                        display: flex;
                        color: #818181;
                        margin: 10px 0;
                        align-items: center;
                        img {
                            object-fit: contain;
                        }
                        .duration {
                            color: #f05454;
                            flex: 1;
                            text-align: end;
                        }
                    }
                }
            }
        }
        .course-prereq-section {
            margin-bottom: 30px;
            .course-prereq-title {
                color: #818181;
            }
        }

        .course-author-designations {
            font-weight: 400;
            color: #818181;
        }
        .author-overview {
            display: flex;
            flex-wrap: wrap;
            margin: 10px 0;
            .author-img {
                border-radius: 50%;
                max-height: 100px;
                margin-right: 20px;
            }
            .author-overview-list {
                .author-overview-list-img {
                    max-height: 16px;
                }
                .author-overview-title {
                    color: #818181;
                }
            }
        }
        .course-detail-review-section {
            .rating-container {
                h4 {
                    font-size: 60px;
                }
                p {
                    text-transform: capitalize;
                    font-weight: 400;
                    font-size: 15px;
                }
            }
            .progress-container {
                .indi-progress {
                    display: flex;
                    flex-wrap: wrap;
                    .progress {
                        flex: 1;
                        max-width: 460px;
                    }
                    img {
                        object-fit: contain;
                        margin-left: 10px;
                    }
                    span {
                        color: #333333;
                        font-weight: 600;
                        margin-left: 5px;
                    }
                }
            }
        }
        .course-detail-testimonial-section {
            padding: 50px 0 20px;
            .course-detail-testimonial-cards {
                background: #fbf6c0;
                padding: 10px 20px 10px 40px;
                position: relative;
                border-radius: 10px 20px;
                img {
                    position: absolute;
                    border-radius: 50%;
                    max-height: 60px;
                    top: -25px;
                    left: -25px;
                }
                h6 {
                    font-weight: 400;
                    color: #333333;
                }
                p {
                    color: #818181;
                    margin-bottom: 0;
                }
            }
            .course-testimonial-readmore {
                color: #f05454;
                margin: 0;
                text-align: center;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
    .popular-choice-section-course-details {
        padding: 50px;
        .slick-dots {
            display: none !important;
        }
        .slick-prev:before,
        .slick-next:before {
            font-family: "slick";
            font-size: 20px;
            line-height: 1;
            opacity: 0.75;
            color: black;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-size: 35px;
            margin: -9px;
        }
        .popular-choice-header {
            font-family: "Poppins", sans-serif;
            font-size: 28px;
            color: #1f1f1e;
        }
        .popular-choice-sub-section {
            justify-content: space-between;

            .popular-choice-content {
                color: #1f1f1e;
                font-family: "Poppins", sans-serif;
                font-size: 20px;
            }
            .popular-choice-btn-container {
                text-align: right;

                .popular-choice-btn {
                    padding: 10px 60px;
                    background-color: #f05454;
                    color: white;
                    font-family: "Poppins", sans-serif;
                    border: none;
                    font-size: 24px;
                }
            }
        }
    }
}
.progress {
    margin: 5px 0;
    .progress-bar {
        background: #ead628;
        height: 20px;
    }
}
@media only screen and (max-width: 900px) {
    .compare-btn-detail {
        display: none;
    }
}
