html {
    scroll-behavior: smooth;
}
// Government-Job-Section
.government-section {
    padding: 50px 150px 30px;

    .government-top-card-header {
        color: #4f4f4f;
        text-transform: capitalize;
        font-size: 24px;
    }

    .government-top-card {
        background-color: #fff;
        box-shadow: 0px 4px 8px -1px #8888;
        padding: 20px 25px;

        .category-button {
            background: #f8f8f8;
            border-radius: 5px;
            padding: 20px 10px 15px;
            box-shadow: 0px 5px 8px -5px #ee6f57;
            text-align: center;
            margin-bottom: 28px;
            margin-left: 20px;

            .category-button-img {
                height: 50px;
                width: 50px;
            }

            .category-btn-link,
            .category-btn-link:hover {
                text-decoration: none;
                color: #333;
                text-transform: capitalize;
            }
        }
    }
}

// Government-SubCategory
.government-section {
    padding: 50px 150px 30px;
    color: rgb(70, 70, 70);
    .goverment-btn-section {
        display: flex;
        justify-content: space-around;
        box-shadow: 0px 5px 4px 0px #bebcbc;
        border-radius: 10px;
        background: #f8f8f8;
        padding: 20px;

        .job-single-btn {
            width: 100%;
            margin: 5px;
            border: none;
            outline: none;
            text-decoration: none;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #ffb342;
            border-radius: 8px;
        }
    }
    .content-bankjoblast {
        margin-top: 45px;
        .government-job-subcategory {
            height: 350px;
            width: 100%;
            border-radius: 15px;
            box-shadow: 0px 4px 8px -1px #8888;
        }
        .government-job-subcategory-content {
            margin-top: 30px;
        }
        .government-job-subcategory-information {
            padding: 10px;
        }
    }
}

@media screen and (max-width: 600px) {
    .government-section {
        padding: 20px;
    }

    .government-job-subcategory-section {
        padding: 20px;
        .exam-btn-section {
            padding: 10px;
            flex-wrap: wrap;
        }
    }
}
@media screen and (min-width: 605px) and (max-width: 1100px) {
    .government-section {
        padding: 0px 50px 50px 50px;
    }

    .government-job-subcategory-section {
        .exam-btn-section {
            flex-wrap: wrap;
        }
    }
}
