// Government-Job-Section
.government-section {
    padding: 50px 150px 30px;

    .government-top-card-header {
        color: #4f4f4f;
        text-transform: capitalize;
        font-size: 24px;
    }

    .government-top-card {
        background-color: #fff;
        box-shadow: 0px 4px 8px -1px #8888;
        padding: 20px 25px;

        .category-button {
            background: #f8f8f8;
            border-radius: 5px;
            padding: 20px 10px 15px;
            box-shadow: 0px 5px 8px -5px #ee6f57;
            text-align: center;
            margin-bottom: 28px;
            margin-left: 20px;

            .category-button-img {
                height: 50px;
                width: 50px;
            }

            .category-btn-link,
            .category-btn-link:hover {
                text-decoration: none;
                color: #333;
                text-transform: capitalize;
            }
        }
    }
}
// Government-Category
.eduwise-section {
    padding: 50px 150px;
    background: #f8f8f8;

    .eduwise-header {
        text-transform: capitalize;
        color: #4f4f4f;
    }

    .eduwise-col {
        &:nth-child(1) .eduwise-cards {
            background: #bcffb1;
        }
        &:nth-child(2) .eduwise-cards {
            background: #fbb3a5;
        }
        &:nth-child(3) .eduwise-cards {
            background: #f1e189;
        }
        &:nth-child(4) .eduwise-cards {
            background: #87bdff;
        }
        &:nth-child(5) .eduwise-cards {
            background: #ffb579;
        }
        &:nth-child(6) .eduwise-cards {
            background: #87e1fe;
        }

        .eduwise-cards {
            padding: 30px 10px;
            text-align: center;
            border-radius: 10px;
            box-shadow: 0px 5px 9px -4px #b1b0b0;

            h6 {
                text-transform: uppercase;
                font-weight: 700;
                font-size: 15px;

                a,
                a:hover {
                    color: #4f4f4f;
                    text-decoration: none;
                }
            }
        }
    }
}
// Government-SubCategory
.government-job-subcategory-content {
    padding: 50px 100px 30px;
    color: rgb(70, 70, 70);
}
@media screen and (max-width: 600px) {
    .government-section {
        padding: 20px;
    }
    .eduwise-section {
        padding: 20px;
        .eduwise-cards {
            margin-top: 10px;
        }
    }
}
@media screen and (min-width: 605px) and (max-width: 1100px) {
    .government-section {
        padding: 0px 50px 50px 50px;
    }
    .eduwise-section {
        padding: 0px 50px 50px 50px;
        .eduwise-cards {
            margin-top: 10px;
        }
    }
}
