.news-card-body {
    padding: 50px 150px;

    .news-card-section {
        background-color: #f4f4f4;
        box-shadow: 0px 5px 4px 0px #bebcbc;
        border-radius: 4px;

        .news-card-section-header {
            padding: 10px 0 0 25px;
        }

        .latest-news-card {
            display: flex;
            background: #fff;
            width: 30%;
            margin: 10px;
            padding: 10px;
            border-radius: 4px;
            transition: all 0.3s;

            &:hover {
                box-shadow: 0px 0px 15px 0px #bebcbc;
            }

            .news-card-img {
                width: 120px;
                height: 120px;
            }
        }

        .hr {
            margin: auto;
            width: 95%;
        }

        .news-card-btn {
            background-color: transparent;
            color: rgb(230, 57, 57);
            border: none;
            outline: none;
        }
    }
}
.homepage-job {
    background: #ffe588;
    padding: 50px 80px;

    .homepage-job-img {
        max-width: 130px;
        max-height: 130px;
        border-radius: 50%;
    }
}

.jobs-section-container {
    padding: 50px 150px;
    .jobs-section-circle {
        border-radius: 50%;
        background-color: #eeeeee;
        height: 150px;
        width: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        .jobs-section-circle-img {
            height: 100px;
            width: 100px;
            align-items: center;
        }
    }
    .jobs-section-sub-divison {
        background: #f8f8f8;
        padding: 100px 0 20px 0;
        margin-top: -100px;

        .jobs-section-box {
            border: rgb(131, 131, 131) 1px solid;
            background: #fff;
            .jobs-section-image {
                height: 156px;
                width: 340px;
                padding: 20px;
                border-radius: 20%;
            }
            .jobs-section-content {
                padding: 20px;
            }
        }
        .jobs-section-btn {
            background-color: transparent;
            color: rgb(230, 57, 57);
            border: none;
            outline: none;
            padding: 15px;
        }
    }
}

.exam-updates-section {
    padding: 50px 150px;

    .exam-update-container {
        padding: 20px;
        box-shadow: 0px 5px 4px 0px #bebcbc;

        .exam-update-section-header {
            padding: 10px 0 0 0;
        }

        .exam-updates-section-btn {
            background-color: transparent;
            color: rgb(230, 57, 57);
            border: none;
            outline: none;
        }
    }
}

.question-paper-section {
    padding: 50px 150px;

    .question-paper-container {
        padding: 20px;
        box-shadow: 0px 5px 4px 0px #bebcbc;
    }
    .question-paper-section-header {
        padding: 10px 0 0 0;
    }
    .question-papers-section-btn {
        background-color: transparent;
        color: rgb(230, 57, 57);
        border: none;
        outline: none;
    }
}
@media screen and (max-width: 600px) {
    .news-card-body {
        padding: 20px;

        .news-card-section {
            .latest-news-card {
                width: 90%;
            }
        }
    }

    .exam-updates-section {
        padding: 20px;

        .exam-update-container {
            .exam-update-col {
                margin: 10px 0;
            }
        }
    }

    .question-paper-section {
        padding: 20px;

        .question-paper-container {
            .question-paper-col {
                margin: 10px 0;
            }
        }
    }
}

@media screen and (min-width: 605px) and (max-width: 1100px) {
    .news-card-body {
        padding: 20px;

        .news-card-section {
            .latest-news-card {
                width: 45%;
            }
        }
    }
    .exam-updates-section {
        padding: 50px;
    }

    .question-paper-section {
        padding: 50px;
    }
}
