.footer-section {
    background: #f3f6fa;

    .footer-header {
        color: #373f41;
        text-align: center;
        font-size: 40px;
        text-shadow: 0px 2px 2px #6b6b6b;
    }

    .footer-row {
        margin-top: 40px;
    }
}
@media screen and (max-width: 600px) {
    .footer-section {
        .footer-header {
            font-size: 24px;
        }
    }
}
//Footer-Course
.footer-course-section {
    background: #f05454;
    padding: 40px 0;
    .footer-course-header {
        color: #fff;
        text-align: center;
        font-size: 40px;
        font-weight: 400;
        padding-top: 30px;
    }
    .footer-course-paragraph {
        font-size: 19px;
        color: #fff;
        text-align: center;
    }
    .footer-course-row {
        margin-top: 40px;
        justify-content: current;
        .form-group {
            display: flex;
            position: relative;
            .footer-course-email-input {
                height: 70px;
                border-radius: 16px;
                width: 100%;
            }
            .footer-course-btn {
                background-color: #3c64b1;
                position: absolute;
                top: 13%;
                right: 2%;
                padding: 10px 20px;
                border-radius: 8px;
            }
        }
    }
}
@media screen and (max-width: 600px) {
    .footer-course-section {
        .footer-course-header {
            font-size: 24px;
        }
        .footer-course-row {
            width: auto;
        }
    }
}
