.category-left-section {
    box-shadow: 0px 5px 4px 0px #bebcbc;
    border-radius: 8px;
}
.select-news-by-category {
    padding: 10px 150px;
    .news-title {
        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 26px;
        line-height: 35px;
        color: #4f4f4f;
    }
    .news-hr {
        border-top: 1px solid #444444;
    }
    .select-by-category-header {
        // font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 33px;
        color: #4f4f4f;
    }
    .select-news-by-category-btn-section {
        background: #f8f8f8;
        padding: 50px 30px 40px;
        box-shadow: 0px 5px 4px 0px #bebcbc;
        border-radius: 10px;
        margin: 10px;
        justify-items: start;
    }

    .category-btn {
        border: none;
        outline: none;
        text-decoration: none;
        color: #fff;
        width: 141.34px;
        height: 52.76px;
        justify-content: center;
        align-items: center;
        background: #ffb342;
        border-radius: 8px;
        padding: 10px !important;
        margin: 5px;
    }
    .news-title {
        font-family: Open Sans;
        font-style: mixed;
        font-size: 20px;
        line-height: 25px;
        color: #111111;
        align-items: left;
        vertical-align: top;
    }
    .news-description {
        font-family: Open Sans;
        font-style: mixed;
        font-size: 18px;
        line-height: 25px;
        color: #4f4f4f;
        align-items: left;
        vertical-align: top;
    }
}
.registration-section {
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px;
    box-shadow: none !important;
    .register {
        letter-spacing: 2px;
    }
    .input-fields {
        margin: 5px;
    }

    .registration-btn {
        background-color: #ee6f57;
        color: white;
        border: none;
        outline: none;
        letter-spacing: 4px;
        width: 100%;
    }
}

.category-information-section {
    padding: 40px 0 10px 0;

    .category-information-sub-section {
        margin-top: 30px;
        padding: 20px;
    }
}
.category-information-image {
    width: 100px;
    height: 70px;
    padding: 20px 5px 5px 5px;
}

.trending-section-container {
    padding: 20px;
    box-shadow: 0px 5px 4px 0px #bebcbc;
    border-radius: 4px;
    .trending-section-btn {
        border: none;
        outline: none;
        width: 100%;
        background: transparent;
        color: red;
    }
}

@media screen and (max-width: 1100px) {
    .select-news-by-category .select-news-by-category-btn-section {
        padding: 20px;
    }
    .select-news-by-category {
        padding: 20px;
    }
}
// newsdetails //
.news-details {
    background-color: #fff;
    box-shadow: none;
}
.newsdeatils-hero {
    box-shadow: 0px 4px 8px -1px #8888;
    margin-top: 50px;
    margin-bottom: 3px;
    background-color: rgb(245, 245, 245);
}
.trending-newsdetails {
    box-shadow: 0px 4px 8px -1px #8888;
    margin-top: 20px;
    margin-bottom: 3px;
    background-color: rgb(245, 245, 245);
    padding: 15px;
}
.newsdeatils-hero {
    padding: 20px;
    padding-bottom: 40px;
    margin-bottom: 30px;
    border-radius: 8px;
}
.img-newsdetails {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0px 4px 8px -1px #8888;
    margin: 10px;
}
.newsdetails-detail {
    border-bottom: 1px solid #8888;
    padding-bottom: 15px;
    margin-top: 5px;
}
.newsdetails-glance {
    display: flex;
    background-color: #fff;
    align-items: center;
    margin-bottom: 25px;
    .newdetails-glance-image {
        width: 70px;
        height: 100px;
    }
}
.form-newsdetails {
    border: 1px solid #000;
    padding: 5px 8px 8px 8px;
    margin-top: 53px;
}
.form-title-newsdetail {
    margin-bottom: 20px;
    text-align: center;
}
.select-news-by-category-btn-section-1 {
    background: #f8f8f8;
    padding: 50px 30px 40px;
    box-shadow: 0px 5px 4px 0px #bebcbc;
    border-radius: 10px;
    margin: 10px;
    justify-items: start;
}
.category-btn-1 {
    border: none;
    outline: none;
    text-decoration: none;
    color: #fff;
    width: 200px;
    height: 52.76px;
    justify-content: center;
    align-items: center;
    background: #ffb342;
    border-radius: 8px;
    padding: 10px !important;
    margin: 5px;
}
.registration-btn {
    background-color: #ee6f57;
    color: white;
    border: none;
    outline: none;
    letter-spacing: 4px;
    width: 100%;
}
