.profile-outer-part {
    background-color: #eeeeee;
    padding: 30px;
    .outermost-section {
        border-radius: 20px;
        background-color: #f6f7f8;

        .profile-section {
            padding: 50px 35px;
            .profile-title {
                padding: 0px 0px 25px 20px;
                text-transform: capitalize;
                font-weight: 450;
            }
            .profile-section-1 {
                padding: 50px 60px 50px 30px;
                border-radius: 20px;
                background-color: #fff;
                box-shadow: 1px 6px 11px 0px #bbbcbd;

                .wishlist-profile-loading-col {
                    h4 {
                        font-weight: 400;
                        text-transform: uppercase;
                        margin-bottom: 20px;
                    }

                    .add-course-wishlist-btn {
                        border: none;
                        outline: none;
                        padding: 10px 30px;
                        background: #f05454;
                        color: #fff;
                        border-radius: 4px;
                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }
            @media screen and (max-width: 600px) {
                div.profile-section-1 {
                    padding: 15px;
                    img.profile-img {
                        width: 50px;
                    }
                }
            }
            .input-headers {
                font-weight: 500;
            }
            .input-group {
                background-color: #e3e4e4;
                color: black;
                border: none;
                font-weight: 400;
            }
            .update-btn-section {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0px 22px 0px 22px;
            }
            .update-btn {
                background-color: #4a6eb3;
                color: #f3f5f6;
                padding: 10px 22px;
                border: none;
                border-radius: 10px;
            }
        }
        .profile-section-2 {
            border-radius: 20px;
            box-shadow: 1px 6px 11px 0px #bbbcbd;
            background-color: #fff;
            .img-container {
                padding: 20px;
                text-align: center;
                .profile-section-profile-image {
                    border-radius: 50%;
                    width: 150px;
                    height: 150px;
                    object-fit: cover;
                }
            }

            .profile-hr {
                width: 100%;
            }
            @media screen and (max-width: 650px) {
                .profile-hr {
                    margin: 5px 0;
                }
            }

            .profile-links {
                color: #808080;
                font-weight: 400;
                font-size: 18px;
                text-decoration: none;
                padding-left: 20px;
            }
            .profile-links:hover {
                color: #f05454;
                text-decoration: none;
            }
        }
        @media screen and (max-width: 600px) {
            div.profile-section-2 {
                margin: 20px 0;
            }
        }
    }
}

//  profile-1
.profile-section-1 {
    padding: 50px 60px 100px 30px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 1px 6px 11px 0px #bbbcbd;
}

.profile-information {
    display: flex;
    margin-bottom: 28px;
    .profile-img {
        height: 50%;
        width: 15%;
    }
    @media screen and (max-width: 1024px) {
        img.profile-img {
            width: 100px;
        }
    }

    img.responsive {
        height: auto;
    }
    .profile-data {
        padding-left: 20px;

        .profile-title-1 {
            font-weight: 400;
            font-size: 20px;
            margin-bottom: unset;
        }
        .profile-time {
            color: #808080;
            padding-top: 20px;
            font-size: 15px;
            font-weight: 400;
        }
    }
}

.button1 {
    display: block;
    border: none;
    outline: none;
    background: #b5b5b5;
    width: 100%;
    padding: 10px;
    color: #fff;
    border-radius: 4px;
    margin-top: 5px;
}
.CardDeck {
    margin-top: 30px;
}
.Card {
    background-color: #f6f7f8;
    box-shadow: 0px 3px 8px -2px #888888;
    border-radius: 16px;
}

@media screen and (max-width: 700px) {
    .profile-outer-part {
        padding: 5px;
        .profile-section {
            padding: 10px !important;
            .update-btn {
                padding: 5px 10px !important;
            }
        }
        .profile-section-2 {
            margin-top: 10px;
            .img-container {
                padding: 10px 5px 5px;
                .profile-section-profile-image {
                    max-width: 100px !important;
                }
            }
        }
    }
}
