.gov {
    max-width: 2000px;
}
.container-fluid {
    width: 77%;

    background-color: rgb(255, 255, 255);
}
.jumbotron {
    background-color: #fff;
    box-shadow: 0px 4px 8px -1px #8888;
}
.titles {
    padding-left: 50px;
}
.title-notify {
    margin-left: 2px;
    padding: 20px;
}
.title-Edu {
    padding: 60px 0px 25px 0px;
}
.title-Exam {
    margin-left: 1px;
    padding: 20px;
}
.disabled {
    padding: 45px 0px 2px 5px;
    color: rgb(196, 196, 196);
}
.container {
    box-shadow: 0px 4px 8px -1px #8888;
    margin-top: 50px;
    margin-bottom: 3px;
}
.container-Edu {
    margin: 20px auto;
}
.view {
    text-align: center;
    font-size: 17px;
    color: #ff0000;
    border-top: 1px solid #000;
    padding: 10px;
}
